<form class="js-query-form" role="form">

  <div class="form-group">
    <label>Contributor Name</label>
    <input name="contributor_ft" id="contributor_ft" type="search" class="form-control">
  </div>

  <div class="form-group">
    <label>Cycle</label>
    <select name="cycle" id="cycle" class="form-control">
      <% 12.times do |i| %>
        <option value="<%= 1990 + (i * 2) %>"><%= 1990 + (i * 2) %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>Type of Seat</label>
    <select name="seat" id="seat" class="form-control">
      <option value="house">House</option>
      <option value="senate">Senate</option>
    </select>
  </div>

  <div class="form-group">
    <label>For or Against</label>
    <select name="for_against" id="for_against" class="form-control">
      <option value="for">For</option>
      <option value="against">Against</option>
    </select>
  </div>

  <div class="form-group">
    <label>Maximum Results Returned</label>
    <input name="per_page" class="form-control" id="per_page" type="number" value="1000">
  </div>

  <div class="form-group">
    <label>Minimum Contribution Amount</label>
    <input name="amount" class="form-control" id="amount" type="number" value="1000">
  </div>

  <span class="btn btn-primary" id="query-submit">Search Database</span>
</form>