<form class="js-query-form">
  <p><label>Contributor Name</label></p>
  <p><input name="contributor_ft" id="contributor_ft" type="search"></p>
  <p><label>Cycle</label></p>
  <p><select name="cycle" id="cycle">
    <% 12.times do |i| %>
      <option value="<%= 1990 + (i * 2) %>"><%= 1990 + (i * 2) %></option>
    <% end %>
  </select></p>
  <p><label>Type of Seat</label></p>
  <p><select name="seat" id="seat">
    <option value="house">House</option>
    <option value="senate">Senate</option>
  </select></p>
  <p><label>For or Against</label></p>
  <p><select name="for_against" id="for_against">
    <option value="for">For</option>
    <option value="against">Against</option>
  </select></p>
  <p><label>Maximum Results Returned</label></p>
  <p><input name="per_page" id="per_page" type="number" value="1000"></p>
  <p><label>Minimum Contribution Amount</label></p>
  <p><input name="amount" id="amount" type="number" value="1000"></p>
  <span id="query-submit">Search Database</span>
</form>
