<div class="summary js-summary">
  <div class="col-xs-4">
    <p><strong>Contributor Name:</strong> <span class="contributor_ft"> </span></p>
    <p><strong>Election Cycle:</strong> <span class="cycle"> </span></p>
    <p><strong>Type of Seat:</strong> <span class="seat"> </span></p>
    <p><strong>Contributions <span class="for_against"> </span> the recipient</strong></p>
    <p><strong>First <span class="per_page"> </span> contributions of at least <span class="amount"> </span> dollars</strong></p>
  </div>

  <div class="col-xs-4">
    <p><strong>Total Contributed:</strong><span class="total"></span></p>
    <p><strong>Most Contributed State:</strong><span class="top-state"></span></p>
    <p><strong>Amount Contributed to Top State:</strong><br><span class="top-state-total"></span></p>
  </div>

  <div class="col-xs-4">
    <table class="top-contributors">
    </table>
  </div>
</div>