<div class="js-summary">
  <div class="col-xs-4">
    <h4>Contributor Name: <span class="contributor_ft"> </span></h4>
    <h4>Election Cycle: <span class="cycle"> </span></h4>
    <h4>Type of Seat: <span class="seat"> </span></h4>
    <h4>Contributions <span class="for_against"> </span> the recipient</h4>
    <h4>First <span class="per_page"> </span> contributions of at least <span class="amount"> </span> dollars</h4>
  </div>

  <div class="col-xs-4">
    <h4>Total Contributed:<span class="total"></span></h4>
    <h4>Most Contributed State:<span class="top-state"></span></h4>
    <h4>Amount Contributed to Top State:<span class="top-state-total"></span></h4>
  </div>

  <div class="col-xs-4">
    <table class="top-contributors">
    </table>
  </div>
</div>