<h1>New Map</h1>

<%= render 'map_img' %>

<%= render 'form' %>

<script type="text/javascript">

  $.ajax({
    url: "/data",
    data: {
      query: {
        page: 1,
        per_page: 20,
        amount: "%3E%7C1000",
        contributor_ft: "walmart",
        cycle: "2012",
        seat: "federal%3Asenate",
        for_against: "for"
      }
    },
    success: function(response){
      console.log(response);
      for(var i = 0; i < response.length; i++){
        state = response[i]["recipient_state"]
        $("#"+state).css("fill", "black")
      }
    } 
  })
</script>