<h1>New Map</h1>

<%= render 'map_img' %>

<%= render 'form' %>

<form class="js-query-form">
</form>

<script type="text/javascript">
  var dataCollection = new DataCollection({});
  var mapView = new MapView({collection: dataCollection});
  var formView = new FormView({collection: dataCollection});
</script>