<h1><%= @map.name %></h1>
<h2><%= @map.user.email %></h2>

<%=  render "map_img" %>

<script type="text/javascript">
  var dataCollection = new DataCollection({});
  var mapView = new MapView({collection: dataCollection});
  var formView = new FormView({collection: dataCollection});
</script>