<div class="container">
  <% @maps.each do |map| %>
    <div class="map-thumb col-xs-3">
        <span class="map-thumb-name"><%= link_to "#{map.name}", map%></span>
        <%= image_tag("us_map.svg") %>
        <% if map.user == current_user %>      
          <div class="map-thumb-links">
            <span class="map-thumb-link"><%= link_to "Edit Map", edit_map_path(map) %></span>
            <span class="map-thumb-link"><%= link_to "Delete Map", map_path(map), method: :delete %></span>
          </div>
        <% end %>
    </div>
  <% end %>
</div>